// Regroupe les éléments de style communs à toutes les pages du projet

@use "../abstract/mixin";
@use "../abstract/variables" as var;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f2f2e9;
}