// Setup des couleurs etc
$couleur-logo: #3b5049;
$couleur-secondaire: #a8cda2;
$couleur-bg: #f2f2e9;
$couleur-principal:#cde6c7;
 
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Delicious";
    src: url(../fonts/Delicious_Handrawn/DeliciousHandrawn-Regular.ttf);
}

