// Page de style relative à exercices.html

@use "../abstract/mixin";
@use "../abstract/variables" as var;

body {
    background-color: #f2f2e9;


    h2 {
        font-size: 3rem;
        color: var.$couleur-logo;
        padding-top: 110px;
    }

    h3 {
        font-weight: normal;
        color: var.$couleur-logo;
    }
}


#breath {
    @include mixin.flex(column, flex-start, center);
    height: 750px;
    background-image: url("../img/bg_wave.svg");
    background-size: cover;

    .container {
        width: 100%;
        @include mixin.flex(column, center, center);
        text-align: center;

        h3 {
            font-size: 1.5rem;
            padding-top: 1rem;
            opacity: .6;
            color: var.$couleur-logo;
        }
    }

    .btn_stone_bg {
        margin-top: 3rem;
        background-color: #fbfbf2;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        z-index: 1;
        position: relative;
        transition: .5s ease-in-out;

        img {
            position: absolute;
            width: 130px;
            top: 0%;
            left: 51%;
            transform: translate((-50%));
            transition: .5s ease-in-out;
            // animation-delay: ;
        }
// déplacer les hover sur le parent en indiquant le mouvement sur le child
        img:nth-child(1) {

            &:hover {
                top: -1%;
            }
        }

        img:hover:nth-child(2) {
            transform: translate3d(1, 1, 1, 45deg);
            top: -3%;
            left: 45%;
        }

           
        

        img:nth-child(3) {
            top: 24%;
            left: 51%;
            transform: translate((-50%));

            &:hover {
                transform: translate3d(-1, -1, -1, 45deg);
                top: 20%;
                left: 66%;
            }
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}

// PARTIE EXERCICES 

#exercices {
    @include mixin.flex(column, flex-start, center);
    background-color: var.$couleur-principal;
    height: 60rem;

    .container {
        width: 100%;
        @include mixin.flex;
        text-align: center;
    }

    ul {
        @include mixin.flex;
        gap: 50px;
        margin-top: 3rem;

        a {
            display: block;
            color: var.$couleur-logo;
            font-weight:700;
            cursor: pointer;
            transition: .3s ease;
            
            &:hover {
                color: var.$couleur-bg;
            }
        }
    } 
}





#popup {
    display: none;
}




// .circle {
//     width: 100px;
//     height: 100px;
//     border-radius: 50%;
//     background-color: #3b5049;
//     animation: breathe 8s ease-in-out infinite;
//   }

// keyframes

// ANIMATION ZEN STONES









// ANIMATION CERCLE RESPIRATION

// @keyframes breathe {
//     0%, 100% {
//       transform: scale(1);
//       background-color: #3b5049; 
//     }
//     50% {
//       transform: scale(1.5);
//       background-color: #c6cdc4; 
//     }
//   } 
